<section class="pricing-page" id="pricing-page">
  <h1>Nossos Planos</h1>
  <div class="pricing-columns">
    <div class="price-column">
      <h3>Básico</h3>
      <div class="price">R$ 0,00<span>/mês</span></div>
      <ul>
        <li>✓ Contador do Tempo</li>
        <li>✓ Lembrete de aniversário</li>
        <li>✓ Cadastro de 3 Datas Especiais</li>
      </ul>
      <a routerLink="basico"><button class="price-button">Escolher Básico</button></a>
    </div>
    <div class="price-column featured">
      <div class="featured-tag">Completo</div>
      <h3>Romântico</h3>
      <div class="price">R$ 9,99<span>/mês</span></div>
      <ul>
        <li>✓ Tudo do plano Básico</li>
        <li>✓ Linha do tempo</li>
        <li>✓ Lista de desejos</li>
        <li>✓ Lembretes de todas as datas especiais</li>
      </ul>
      <a routerLink="romantico"><button class="price-button">Escolher Romântico</button></a>
    </div>
    <!-- <div class="price-column">
      <h3>Apaixonado</h3>
      <div class="price">R$ 19,99<span>/mês</span></div>
      <ul>
        <li>✓ Tudo do plano Romântico</li>
        <li>✓ Todos os lembretes da plataforma</li>
        <li>✓ Álbum de memórias</li>
        <li>✓ Mapa do amor</li>
        <li>✓ Cadastro de até 15 datas especiais</li>
      </ul>
      <a routerLink="apaixonado"><button class="price-button">Escolher Apaixonado</button></a>
    </div> -->
  </div>
</section>
